# --- 計算結果(重いゴミ)を無視 ---
[1-9]*
[0-9]*.*
postProcessing/

# --- システム一時ファイルを無視 ---
constant/polyMesh/
processor*/
dynamicCode/
log*
*.log
*.foam
*.OpenFOAM
.DS_Store

# --- ただし、大事な設定ファイルは守る ---
!/0/
!/0.orig/
